name: Node.js CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - uses: peter50216/vue-template@456b89cf7f481fa4a01d8601f4d876da1f17e0de # v3
